@import url('script.js');

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.room {
    border: 1px solid #2a4eb0;
    padding: 50px;
    margin: 50px;
    display: inline-block;
}

.room img {
    max-width: 50%;
    max-height: 50px;
}